* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  #header {
    width: 1366px;
    margin: 0 auto;
  }
  #header #nav {
    width: 100%;
  }
  #header #nav .skidka {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  #header #nav .logo-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
  }
  #header #nav .logo-navigation .logo {
    width: 33%;
  }
  #header #nav .logo-navigation .navigation {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    text-transform: uppercase;
    color: gray;
  }
  #header #nav .logo-navigation .dropdown {
    display: none;
  }
  #header #nav .logo-navigation .icons {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }
  #header .skidka {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  #header .nav-mobile {
    width: 700px;
    padding: 10px 10px;
    display: none;
    align-items: center;
    justify-content: space-between;
  }
  #header .nav-mobile h3 {
    font-size: 18px;
  }
  #header .nav-mobile .dropdown input:checked + .dropdown-menu {
    display: none;
  }
  #header .nav-mobile .dropdown .dropdown-menu {
    display: none;
    top: 10px;
    background-color: rgba(128, 128, 128, 0.4431372549);
    color: black;
  }
  #header #article {
    width: 1366px;
    margin: 0 auto;
  }
  #header #article .container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
  }
  #header #article .container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 52%;
    color: white;
    padding-left: 100px;
  }
  #header #article .container .content h1 {
    font-weight: 400;
    text-transform: uppercase;
  }
  #header #article .container .tor {
    margin-left: 100px;
    width: 40%;
  }
  #section {
    width: 1366px;
    margin: 0 auto;
  }
  #section .container {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    padding: 50px 0;
  }
  #section .container img {
    width: 100%;
  }
  #section .container .content {
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
  }
  #section .container .content h4 {
    width: 100%;
    color: gray;
  }
  #section .container .content p {
    width: 100%;
  }
  #section .container .content .slaw {
    color: yellow;
  }
  #section .container2 {
    display: flex;
    flex-direction: row-reverse;
  }
  #section .container2 .content {
    font-size: 35px;
    line-height: 1.4;
  }
  #aside {
    width: 1366px;
    margin: 0 auto;
    padding: 50px 40px;
  }
  #aside h2 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
  }
  #aside .container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
  }
  #aside .container .card {
    box-shadow: 0 0 15px black;
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }
  #aside .container .card .img-text {
    padding: 20px 20px;
  }
  #aside .container .card .img-text p {
    text-transform: capitalize;
  }
  #aside .container .card .stars i {
    border-radius: 15px;
    background-color: orange;
  }
  #aside .container .card p {
    color: gray;
    text-transform: uppercase;
  }
  #footer {
    width: 1366px;
    margin: 0 auto;
    padding: 150px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer #form {
    width: 34%;
  }
  #footer #form h3 {
    font-weight: 400;
    text-transform: uppercase;
  }
  #footer #form .email-btn {
    width: 100%;
    display: flex;
  }
  #footer #form .email-btn #email-text {
    width: 80%;
    padding-top: 20px;
    border: 0;
    font-size: 20px;
    border-bottom: 2px solid gray;
    line-height: 2;
  }
  #footer #form .email-btn #btn {
    font-size: 20px;
    width: 20%;
    border: 0;
    border-bottom: 2px solid gray;
  }
  #footer #form .icon-sot {
    width: 20%;
    padding: 20px 0;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
  }
  #footer .about-us-us {
    width: 33%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  #footer .about-us-us .about-us {
    width: 50%;
    text-transform: uppercase;
  }
  #footer .about-us-us .about-us .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
    padding-top: 20px;
    gap: 8px;
    color: gray;
  }
}
@media (max-width: 700px) {
  #header {
    width: 700px;
    margin: 0 auto;
  }
  #header #nav {
    width: 100%;
    display: none;
  }
  #header #nav .skidka {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  #header #nav .logo-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
  }
  #header #nav .logo-navigation .logo {
    width: 33%;
  }
  #header #nav .logo-navigation .navigation {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    text-transform: uppercase;
    color: gray;
  }
  #header #nav .logo-navigation .icons {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }
  #header .skidka {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  #header .nav-mobile {
    width: 700px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #header .nav-mobile h3 {
    font-size: 18px;
  }
  #header .nav-mobile .dropdown input:checked + .dropdown-menu {
    display: block;
  }
  #header .nav-mobile .dropdown .dropdown-menu {
    display: none;
    top: 10px;
    background-color: rgba(128, 128, 128, 0.4431372549);
    color: black;
  }
  #header #article {
    width: 700px;
    margin: 0 auto;
  }
  #header #article .container {
    width: 700px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
  }
  #header #article .container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 52%;
    color: white;
    padding-left: 100px;
  }
  #header #article .container .content h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
  }
  #header #article .container .content p {
    font-size: 10px;
  }
  #header #article .container .tor {
    margin-left: 100px;
    width: 40%;
  }
  #section {
    width: 700px;
    margin: 0 auto;
  }
  #section .container {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 50px 40px;
  }
  #section .container img {
    width: 80%;
  }
  #section .container .content {
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
  }
  #section .container .content h4 {
    width: 100%;
    color: gray;
    font-size: 13px;
  }
  #section .container .content p {
    width: 100%;
    font-size: 10px;
  }
  #section .container .content .slaw {
    color: yellow;
  }
  #section .container2 {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 100px;
  }
  #section .container2 .content {
    font-size: 15px;
    line-height: 1.4;
  }
  #aside {
    width: 700px;
    margin: 0 auto;
    padding: 50px 40px;
  }
  #aside h2 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
  }
  #aside .container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
  }
  #aside .container .card {
    box-shadow: 0 0 15px black;
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }
  #aside .container .card .img-text {
    padding: 20px 20px;
  }
  #aside .container .card .img-text p {
    text-transform: capitalize;
  }
  #aside .container .card .stars i {
    border-radius: 15px;
    background-color: orange;
  }
  #aside .container .card p {
    color: gray;
    text-transform: uppercase;
  }
  #footer {
    width: 700px;
    margin: 0 auto;
    padding: 150px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer #form {
    width: 34%;
  }
  #footer #form h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
  }
  #footer #form .email-btn {
    width: 100%;
    display: flex;
  }
  #footer #form .email-btn #email-text {
    width: 80%;
    padding-top: 20px;
    border: 0;
    font-size: 15px;
    border-bottom: 2px solid gray;
    line-height: 2;
  }
  #footer #form .email-btn #btn {
    font-size: 15px;
    width: 20%;
    border: 0;
    border-bottom: 2px solid gray;
    padding-top: 20px;
  }
  #footer #form .icon-sot {
    width: 50%;
    padding: 20px 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  #footer .about-us-us {
    width: 33%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  #footer .about-us-us .about-us {
    width: 50%;
    text-transform: uppercase;
  }
  #footer .about-us-us .about-us .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
    padding-top: 20px;
    gap: 8px;
    color: gray;
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */